.card-project {
  height: 379px;
  width: 300px;
  background: grey;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: black;
  box-shadow: 0 70px 63px -60px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 30px;
  border: solid 1px rgb(148, 148, 148);
  cursor: pointer;
}

.card0 {
    background-size: 300px;
    background-repeat: no-repeat;
}
 .card0:hover {
  background-size: 400px;
}

.card-title {
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 2px rgb(24, 24, 24);
}